
<div class="card">
  <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Employee List</h4>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a color="default" rounded="true" data-toggle="modal" data-target="#basicExample" (click)="ShowModal()"
          mdbWavesEffect class="text-success">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th>Sr. No.</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let item of data; let id = index">
          <td>{{id +1}}</td>
          <td>{{item.FirstName}}</td>
          <td>{{item.LastName}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Phone}}</td>
          <td>{{item.Address}}</td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="default" rounded="true" size="sm" class="my-0"
                (click)="editEmployee(item)">Edit</button>
            </span>
            <span class="table-edit">
                <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                  (click)="remove(item)">Remove</button>
              </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>