<div class="card">
  <h4 class="card-header text-center font-weight-bold text-uppercase py-4">Edit Employee</h4>
  <div class="card-body mx-auto">
    <form [formgroup]="AddEmployeeForm" (ngSubmit)="onSubmit()">
          <div class="row">
              <div class=" md-form mb-5">
                <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                <input type="text" id="FirstName" class="form-control" mdbInput [formControl] ="f.FirstName">
                <label for="FirstName">First Name</label>
              </div>
      
              <div class="md-form mb-5">
                <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
                <input type="text" id="LastName" class="form-control" mdbInput [formControl] ="f.LastName">
                <label for="LastName">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class=" md-form mb-5">
                <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
                <input type="email" id="Email" class="form-control" mdbInput [formControl] ="f.Email">
                <label for="Email">Email</label>
              </div>
      
              <div class="md-form mb-5">
                <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                <input type="text" id="Phone" class="form-control" mdbInput [formControl] ="f.Phone">
                <label for="Phone">Phone</label>
              </div>
            </div>
            <div class="row">
              <div class="md-form mb-5">
                <mdb-icon fas icon="tag" class="prefix grey-text"></mdb-icon>
                <input type="text" id="Address" class="form-control" mdbInput [formControl] ="f.Address">
                <label for="Address">Address</label>
              </div>
            </div>

      <div class="text-center">
        <button mdbBtn color="default" class="waves-light" value="Save">Save</button>
      </div>
    </form>
  </div>
</div>