<!-- Footer -->
<footer class="page-footer font-small indigo pt-4">

        <!-- Footer Elements -->
        <div class="container">
    
            <ul class="list-unstyled list-inline text-center">
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                    <mdb-icon fab icon="facebook"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>
                    <mdb-icon fab icon="twitter"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
                    <mdb-icon fab fab icon="google-plus"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
                    <mdb-icon fab icon="linkedin"></mdb-icon>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>
                    <mdb-icon fab icon="dribbble"></mdb-icon>
                  </a>
                </li>
              </ul>
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->